.icon {
  width: 1em;
  height: 1em;
  background-size: 1.2em;
  padding: 1.2em;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
}
.back-icon {
  background-image: url("./svgs/arrow-left.svg");
  background-size: 1em;
}
.video-icon {
  background-image: url("./svgs/video.svg");
}
.info-icon {
  background-image: url("./svgs/info-circle.svg");
}
.camera-icon {
  background-image: url("./svgs/camera.svg");
  background-color: #1f5ac7;
  border-radius: 50%;
}
.record-icon {
  background-image: url("./svgs/microphone-alt.svg");
  background-size: 0.8em;
}
.image-icon {
  background-image: url("./svgs/image.svg");
}
.sticker-icon {
  background-image: url("./svgs/sticker.svg");
}

/* profile pictures */
.profile {
  padding: 0;
  background-image: url("./img/profile.jpg");
  width: 2.2em;
  height: 2.2em;
  background-size: 4em;
  border-radius: 50%;
  margin-right: 16px;
}
