/* icons */
.icon {
  width: 1.8em;
  height: 1.8em;
  background-size: 1.5em;
  padding: 1.2em;
  margin: 0 4px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
}
.chat-icon {
  background-image: url("./svgs/comment-alt-lines.svg");
}
.more-icon {
  background-image: url("./svgs/ellipsis-h.svg");
  transform: rotate(90deg);
}
.search-icon {
  background-image: url("./svgs/search.svg");
}
.emoticon-icon {
  background-image: url("./svgs/grin.svg");
  /* background-color: #a8a8a8;
  border-radius: 4px; */
}
.send-icon {
  background-image: url("./svgs/paper-plane.svg");
  background-color: #3474eb;
  border-radius: 4px;
}
.record-icon {
  background-image: url("./svgs/microphone.svg");
  background-size: 1em;
  /* background-color: #9ea3ac;
  border-radius: 4px; */
}
.attachment-icon {
  background-image: url("./svgs/paperclip.svg");
  /* background-color: #9ea3ac;
  border-radius: 4px; */
}

/* profile pictures */
.profile {
  margin: 8px;
  padding: 0;
  background-image: url("./img/profile.jpg");
  width: 50px;
  height: 50px;
  background-size: 100px;
  border-radius: 50%;
  margin-right: 16px;
}
.batman {
  background-image: url("./img/batman.jpg");
}
.justice {
  background-image: url("./img/DC.jpg");
}
.joker {
  background-image: url("./img/joker.jpg");
}
.ironman {
  background-image: url("./img/ironman.jpg");
}
.avengers {
  background-image: url("./img/Avengers.jpg");
  background-size: 4em;
}
.doge {
  background-image: url("./img/doge.jpg");
}
.meme {
  background-image: url("./img/meme.jpg");
}
header .icon {
  filter: invert(1);
}
header .profile {
  filter: unset;
}

/* icon animation/effects */
.emoticon-icon:hover,
.attachment-icon:hover,
.record-icon:hover {
  background-color: #d1d1d1;
  filter: brightness(0.8);
  transition: filter 0.25s;
  border-radius: 4px;
}
.send-icon:hover {
  filter: invert(1);
  transition: 0.25s;
}
.options .more-icon:hover,
.options .search-icon:hover,
.options .chat-icon:hover {
  background-color: #2d55bd;
  filter: brightness(0.8);
  transition: filter 0.25s;
  border-radius: 50%;
}
.profile:hover {
  filter: unset;
}
