.icon {
  width: 1.8em;
  height: 1.8em;
  background-size: 1.5em;
  padding: 1.2em;
  margin: 0 4px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
}
.back-icon {
  background-image: url("./svgs/arrow-left.svg");
}
.video-icon {
  background-image: url("./svgs/video.svg");
}
.info-icon {
  background-image: url("./svgs/info-circle.svg");
}
.camera-icon {
  background-image: url("./svgs/camera.svg");
  background-color: #3474eb;
  border-radius: 50%;
}
.record-icon {
  background-image: url("./svgs/microphone-alt.svg");
}
.image-icon {
  background-image: url("./svgs/image.svg");
}
.sticker-icon {
  background-image: url("./svgs/sticker.svg");
}

/* profile pictures */
.profile {
  margin: 8px;
  padding: 0;
  background-image: url("./img/profile.jpg");
  width: 50px;
  height: 50px;
  background-size: 100px;
  border-radius: 50%;
  margin-right: 16px;
}
