* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* wrapper containing the two main sections */
.main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-image: linear-gradient(white, blue);
  padding: 40px;
}
.left-nav,
.chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  background-image: unset;
  background-color: unset;
  background-blend-mode: unset;
}
.left-nav {
  width: 30%;
}
.chat {
  width: 70%;
}
/* Top Headers of both sections */
header {
  display: flex;
  flex-direction: row;
  padding: 4px;
  height: 15%;
  justify-content: space-between;
  background-color: #3474eb;
  align-items: center;
}

/* left-nav section */
.input-container {
  display: flex;
  height: 10%;
  padding: 8px;
  background-color: rgb(241, 237, 237);
}
.input-wrapper {
  display: flex;
  justify-content: flex-start;
  border-radius: 20px;
  background-color: white;
  height: 100%;
  width: 100%;
}
.input-bar {
  align-self: center;
  border: none;
  height: 80%;
  width: 75%;
}
.input-wrapper .icon {
  background-size: 1em;
  width: 1em;
  height: 1em;
}
.user-list {
  height: 75%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.user-container {
  height: 70px;
  display: flex;
  flex-direction: row;
  background-color: rgb(241, 237, 237);
  cursor: pointer;
}
.user-container .user-bar {
  width: 85%;
  cursor: inherit;
}
.user-info {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.user-info .message-preview {
  font-size: 70%;
  color: rgb(90, 90, 90);
}
.message-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50%;
  width: 15%;
}
.message-info .time {
  margin: 4px 0;
  filter: invert(0.1);
}
.message-info .notification {
  margin: 4px 0;

  color: white;
}
.selected {
  background-color: gray;
}
.selected .notification {
  display: none;
}
.notification {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(22, 187, 22);
  border-radius: 50%;
}

/* chat section part */
.user-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  width: 90%;
}
.options {
  display: flex;
}
.chat-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 85%;
  background-color: #dddddd;
}
.chat-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  height: 88%;
  background-color: #dddddd;
  overflow-y: auto;
}
.message {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 10px;
  padding: 12px 8px 8px 12px;
  height: auto;
  align-items: center;
  border-radius: 10px;
  width: max-content;
  max-width: 60%;
}
.message .user-name {
  font-weight: 600;
  cursor: pointer;
  align-self: flex-start;
}
.message .text {
  align-self: flex-start;
  padding: 4px 0;
}
.message .time {
  font-size: 60%;
  align-self: flex-end;
  filter: invert(0.5);
}
.right-message {
  align-self: flex-end;
  filter: invert(0.85);
}
.right-message .user-name {
  display: none;
}
.send-box {
  z-index: 2;
  height: 12%;
  padding: 0.5% 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: rgb(241, 237, 237);
}
.write-message {
  display: flex;
  flex-direction: row;
  width: 85%;
  height: 80%;
  align-items: center;
}
.write-message .input-wrapper {
  justify-content: center;
}
.write-message .input-bar {
  width: 95%;
}

/* Scrollbar-styling */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0, 0, 0);
  border-radius: 6px;
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2f65ef;
  border-radius: 10px;
}

.user-list::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px rgb(0, 0, 0); */
  background-color: rgb(241, 237, 237);
  /* border-radius: 6px; */
}
