* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  justify-content: center;
  align-items: center;
  background-color: rgba(235, 235, 235, 0.753);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.main {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
header {
  display: flex;
  flex-direction: row;
  padding: 4px;
  height: 50px;
  width: inherit;
  justify-content: space-between;
  background-color: #3474eb;
  align-items: center;
}
.user-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  width: 80%;
}
.user-info {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.user-name {
  font-size: 70%;
  filter: invert(0.2);
}
.options {
  display: flex;
}

.chat-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: inherit;
  height: 90%;
  background-color: #dddddd;
}
.chat-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  height: 90%;
  width: inherit;
  background-color: #dddddd;
  overflow-y: auto;
}
.send-box {
  z-index: 2;
  height: 50px;
  width: inherit;
  padding: 0.5% 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #dddddd;
  border: rgb(129, 129, 129);
  border-width: 1px;
  border-style: solid;
  border-radius: 25px;
}
.input-bar {
  align-self: center;
  border: none;
  height: 60%;
  width: 50%;
  background-color: inherit;
}
.message {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  background-color: white;
  margin: 10px;
  padding: 12px 8px 8px 12px;
  height: auto;
  align-items: center;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border: rgb(83, 83, 83);
  width: max-content;
  max-width: 60%;
}
.message .user-name {
  font-weight: 600;
  cursor: pointer;
  align-self: flex-start;
}
.message .text {
  align-self: flex-start;
  padding: 4px 0;
}
.message .time {
  font-size: 60%;
  align-self: flex-end;
  filter: invert(0.5);
}
.right-message {
  align-self: flex-end;
}
.right-message .user-name {
  display: none;
}
