* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-color: rgb(63, 60, 60);
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
.main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  /* justify-content: flex-start; */
  padding: 40px;
}
.left-nav,
.chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
}
.left-nav {
  width: 30%;
  outline: auto;
}

.chat {
  width: 70%;
  outline: auto;
}
header {
  display: flex;
  flex-direction: row;
  padding: 4px;
  justify-content: space-between;
  background-color: #3474eb;
  align-items: center;
  /* z-index: 2; */
}
.user-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  width: 90%;
}
.options {
  display: flex;
}

.search-container {
  display: flex;
  padding: 8px;
  background-color: rgb(202, 202, 202);
}
.search-wrapper {
  display: flex;
  border-radius: 20px;
  background-color: white;
  width: 100%;
}
.search-bar {
  border: none;
  width: 80%;
}
.search-wrapper .icon {
  background-size: 1em;
  width: 1em;
  height: 1em;
}

.user-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.user-container {
  height: 70px;
  display: flex;
  flex-direction: row;
  background-color: rgb(241, 237, 237);
  cursor: pointer;
}
.user-container .user-bar {
  width: 85%;
  cursor: inherit;
}
.user-info {
  display: flex;
  flex-direction: column;
}
.user-info .message-preview {
  font-size: 70%;
  color: rgb(90, 90, 90);
}
.message-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 60%;
  width: 15%;
}
.selected {
  background-color: gray;
}
.selected .notification {
  display: none;
}

.notification {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(22, 187, 22);
  border-radius: 50%;
}

.chat-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  height: 100%;
  background-color: #dddddd;
  overflow-y: auto;
}

.message {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 10px;
  padding: 12px 8px 8px 12px;
  height: auto;
  align-items: center;
  border-radius: 10px;
  width: max-content;
  max-width: 60%;
}

.message .user-name {
  font-weight: 600;
  cursor: pointer;
  align-self: flex-start;
}
.message .text {
  align-self: flex-start;
  padding: 4px 0;
}
.message .time {
  font-size: 60%;
  align-self: flex-end;
  filter: invert(0.5);
}

.right-message {
  align-self: flex-end;
}
.right-message .user-name {
  display: none;
}
